*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{background-color: #222;
height: 3000px;
}
.txtW{color: white;}

.b{font-weight: 600;}

.marR{margin-right: 0.5em;}

.tAliLeft{text-align: left;}

.col15{width: 15%;}
.col70{width: 70%;}

.flex{display: flex;}
.justifySB{justify-content: space-between;}
.justifyCen{justify-content: center;}
.justifyFE{justify-content: flex-end;}
.alignCen{align-items: center;}


.posFix{position: fixed;}

a{all: unset;}

a:hover{
    text-decoration: underline;
    color: #3d5afe;
}

.fixHead{
    background-color: #ff6900;
    width: 100%;
    padding: 1em;
    color: white;
}

.boxed{
    max-width: 1390px;
    margin: 0 auto;
}

.col75 > img{
    height: 2rem;
}