*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{background-color: #222;
height: 3000px;
}

img{display: block;}

a{all: unset;}

a:hover{
    text-decoration: underline;
    color: #3d5afe;
}


/***************** UTILITY CLASSES *******************/
.boxed{
    max-width: 1390px;
    margin: 0 auto;
}

.txtW{color: white;}

.b{font-weight: 600;}

.marB1{margin-bottom: 1rem;}
.marT1{margin-top: 1rem;}
.marR{margin-right: 0.5em;}
.marTB{margin-top: 8rem;
    margin-bottom: 8rem;}

.tAliLeft{text-align: left;}

.col15{width: 15%;}
.col70{width: 70%;}

.flex{display: flex;}
.fCol{flex-direction: column;}
.justifySB{justify-content: space-between;}
.justifyCen{justify-content: center;}
.justifyFE{justify-content: flex-end;}
.justifyFS{justify-content: flex-start;}
.alignCen{align-items: center;}

.wrap{flex-wrap: wrap;}

.posFixT{position: fixed;
    top: 0;}
.posFixB{position: fixed;
    bottom: 0;}

/*************** HEADER ************/

.fixHead{
    background-color: #ff6900;
    width: 100%;
    padding: 1em;
    color: white;
}

.col75 > img{
    height: 2rem;
}

/*************** MAIN ****************/

.card {
    height: 700px;
    width: calc(100%/3 - 20px);
    margin-bottom: 4rem;
}

.img2{
    display: none;
}

/* carta 1 con display none */

.card:hover .img2{
    display: block;
}
.card:hover .img1{
    display: none;
}
.card > img{
    width: 100%;
}


/************** FOOTER ********/

.fixFoot{
    background-color: #222;
    width: 100%;
    padding: 1em;
    color: white;
    font-size: 10px;
}

.fixFoot i{font-size: 15px;
margin-left: 1em;}
